<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section id="about">
        <section class="discover-section">
            <div class="discover-image">
                <img src="assets/img/team-planning.jpg" alt="Financial Planners discussing">
            </div>

            <div class="discover-content">
                <span class="section-subtitle">About Us</span>
                <br><br>
                <h2 class="section-title">Discover The World of Financial Planner</h2>
                <p>We are a team of experienced financial planners dedicated to helping you achieve your financial goals. With years of experience, we have the knowledge to guide you.</p>
                <div class="stats">
                <div class="stat-item">
                    <strong>25</strong>
                    <span>Years of Experience</span>
                </div>
                <div class="stat-item">
                    <strong>350</strong>
                    <span>Successful Projects</span>
                </div>
                </div>
                <br>
                <a href="#" class="about-btn">READ MORE</a>
            </div>
      </section>
    </section>

</body>
</html>