<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section id="home">

         <div class="hero-section">
            <div class="hero-content">
                <h1>Financial And Marketing Advisory</h1>
                <br>
                <p>We are a team of professional and enthusiastic people.</p>
                <br>
                <button class="home-btn">CONTACT US</button>
            </div>
        </div>

    </section>

</body>
</html>