<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section id="home">

         <div class="hero-section">
            <div class="hero-content">
                <h1>Financial And Marketing Advisory</h1>
                <br>
                <p>We are a team of professional and enthusiastic people.</p>
                <br>
                <button class="home-btn">CONTACT US</button>
            </div>
        </div>
    </section>

    <section class="features-section">
        <div class="feature-card">
            <h2>Innovative Solutions</h2>
            <br>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
             <br>
             <a href="">READ MORE</a>
        </div>

        <div class="feature-card-blue">
            <h2>Innovative Solutions</h2>
            <br>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
             <br>
             <a href="">READ MORE</a>
        </div>

        <div class="feature-card">
            <h2>Innovative Solutions</h2>
            <br>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
             <br>
             <a href="">READ MORE</a>
        </div>
    </section>

</body>
</html>