<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="services">
                <div class="services-section">

                    <div class="offer">
                        <p class="offer-title">Our Services</p>
                        <br>
                       <h2 class="offer-subtitle">What We Offer</h2>
                       <br>
                       <p>Lorem Ipsum is 
                        simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s,</p>
                        <br>
                        <a href="#" class="btn-service">VIEW ALL</a>
                    </div>

                <div class="services-grid">

                    <div class="service-card">
                       <h2 class="service-title">Manage Investment</h2>
                       <br>
                       <p>Lorem Ipsum is 
                        simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s,</p>
                        </div>

                        <div class="service-card-green">
                        <h2 class="service-title">Manage Investment</h2>
                        <br>
                       <p>Lorem Ipsum is 
                        simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s,</p>
                        </div>

                        <div class="service-card">
                        <h2 class="service-title">Manage Investment</h2>
                        <br>
                       <p>Lorem Ipsum is 
                        simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s,</p>
                        </div>

                        <div class="service-card">
                        <h2 class="service-title">Manage Investment</h2>
                        <br>
                       <p>Lorem Ipsum is 
                        simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s,</p>
                        </div>

                        <div class="service-card">
                        <h2 class="service-title">Manage Investment</h2>
                        <br>
                       <p>Lorem Ipsum is 
                        simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s,</p>
                        </div>

                       
                </div>
            </div>
    </section>
</body>
</html>